.login-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-title{
    margin: 32px 0 20px;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -.022em;
    line-height: 1.25;
}

button {
    width: 100%;
    background-color: #ff6700;
    color: white;
}

.login-error{
    background: #fdf2f2;
    color: #9b1c1c;
    box-shadow: inset 0 0 0 1px #f98080;
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 10px;
}